In [7]:
import spotipy
import pandas as pd

import re
import requests

In [8]:
target_user = 'spotify:user:uEyhGK-MTGSp5oOfA_J6Jg'
spotify = spotipy.Spotify()

In [9]:
import spotipy.util as util

token = util.prompt_for_user_token\
(username = '12120122065?si=ZwZSq172SWWyJNXtQGgm9g',\
scope = 'playlist-read-collaborative',\
client_id='cd0413d88e9748a38132935ff8f71c39',\
client_secret='533d87fb0fb94814ae8d361b4ad42096',\
redirect_uri='http://localhost/')

In [10]:
username = "spotify"

In [13]:
token = 'BQAZlt-CbjD6r6zQQoyHUzjhRypFXB5ULah405BtoZaVGZpD_Rs6_AlolF179ZbT7L6e4zGhBni25Qxs6vje9fWFAWAu9WEPzPWLq3XRkLYiptGfeY0hPdheZDw2N_HOEm9Q61VWJRWpc-0zhGUKqkllUCu7IA'

In [14]:
sp = spotipy.Spotify(auth=token)

top_100 = pd.read_csv('top_100_playlists.csv')

top_100_list = top_100['id'].tolist()

artist_info_list = []

for playlist in top_100_list:
    playlist_id = playlist
    results = sp.user_playlist(username, playlist_id)
    artist_info_list.append(results)

In [61]:
artist_id_count = []
artist_name_count = []
track_count = 0

for playlist in artist_info_list:    
    for track in playlist['tracks']['items']:
        track_count = track_count + 1
        for artist in track['track']['artists']:            
            artist_id_count.append(artist['id'])
            artist_name_count.append(artist['name'])

print(artist_count[:10])
print(artist_name_count[:10])
print(track_count)
print(len(artist_count))

['4GNC7GD6oZMSxPGyXy4MNB', '06HL4z0CvFAxyc27GXpf02', '7n2wHs1TKAczGzO7Dd2rGr', '4nDoRrQiYLoBzwC5BhVJzF', '66CXWjxzNUsdJxJ2JdwvnR', '5UjifI1TYefXWn9GdqDOHl', '246dkjvS1zLTtiykXe5h60', '50co4Is1HCEo8bhOyUWKpn', '2wY79sveU1sp5g7SokKOiI', '4Ga1P7PMIsmqEZqhYZQgDo']
['Lewis Capaldi', 'Taylor Swift', 'Shawn Mendes', 'Camila Cabello', 'Ariana Grande', 'Social House', 'Post Malone', 'Young Thug', 'Sam Smith', 'Lil Tecca']
7531
10406

In [55]:
artist_info_count = zip(artist_id_count, artist_name_count)

In [56]:
import collections

artist_counter = collections.Counter(artist_info_count)

top_100_artists = artist_counter.most_common(100)

In [74]:
print(top_100_artists[:10])

[(('3TVXtAsR1Inumwj472S9r4', 'Drake'), 130), (('3WrFJ7ztbogyGnTHbHJFl2', 'The Beatles'), 115), (('6eUKZXaKkcviH0Ku9w2n3V', 'Ed Sheeran'), 91), (('1uNFoZAHBGtllmzznpCI3s', 'Justin Bieber'), 70), (('6LuN9FCkKOj5PcnpouEgny', 'Khalid'), 63), (('0du5cEVh5yTK9QJze8zA0C', 'Bruno Mars'), 54), (('5pKCCKE2ajJHZ9KAiaK11H', 'Rihanna'), 46), (('7bXgB6jMjp9ATFy66eO08Z', 'Chris Brown'), 41), (('45eNHdiiabvmbp4erw26rg', 'ILLENIUM'), 40), (('50co4Is1HCEo8bhOyUWKpn', 'Young Thug'), 37)]

In [87]:
top_100_artists_df = pd.DataFrame\
(top_100_artists, columns =['id_artist', 'frequency'])

display(top_100_artists_df.head())

                                 id_artist  frequency
0          (3TVXtAsR1Inumwj472S9r4, Drake)        130
1    (3WrFJ7ztbogyGnTHbHJFl2, The Beatles)        115
2     (6eUKZXaKkcviH0Ku9w2n3V, Ed Sheeran)         91
3  (1uNFoZAHBGtllmzznpCI3s, Justin Bieber)         70
4         (6LuN9FCkKOj5PcnpouEgny, Khalid)         63

In [88]:
top_100_artists_df[['id', 'artist']] = \
pd.DataFrame(top_100_artists_df['id_artist'].tolist(), \
index = top_100_artists_df.index)

del top_100_artists_df['id_artist']

display(top_100_artists_df.head())

   frequency                      id         artist
0        130  3TVXtAsR1Inumwj472S9r4          Drake
1        115  3WrFJ7ztbogyGnTHbHJFl2    The Beatles
2         91  6eUKZXaKkcviH0Ku9w2n3V     Ed Sheeran
3         70  1uNFoZAHBGtllmzznpCI3s  Justin Bieber
4         63  6LuN9FCkKOj5PcnpouEgny         Khalid

In [89]:
export_csv = top_100_artists_df.to_csv(r'top_100_artists.csv')