In [2]:
import spotipy
import pandas as pd

import re
import requests

In [3]:
target_user = 'spotify:user:uEyhGK-MTGSp5oOfA_J6Jg'
spotify = spotipy.Spotify()

In [5]:
import spotipy.util as util

token = util.prompt_for_user_token\
(username = '12120122065?si=ZwZSq172SWWyJNXtQGgm9g',\
scope = 'playlist-read-collaborative',\
client_id='cd0413d88e9748a38132935ff8f71c39',\
client_secret='533d87fb0fb94814ae8d361b4ad42096',\
redirect_uri='http://localhost/')

In [6]:
username = "spotify"

In [12]:
token = 'BQCTbohxhQt48vN1zgt639XacCkNtm7Q3SkDc_HJtAGRoWrV2iFZjXxQ8SFVp6MME_qt2t1SJRc3AJskzRZ6rXCrQE1KYY-lp4u6_g41RoWw6AIu8d4ROJOVLs-iM3dDpdEU3807v5dq9lSmuV3FAntNMiQitQ'

In [13]:
sp = spotipy.Spotify(auth=token)

dataframe = pd.read_csv('all_playlists.csv')

playlists = dataframe['id'].tolist()

playlist_info_list = []

for playlist in playlists:
    playlist_id = playlist
    results = sp.user_playlist(username, playlist_id)
    playlist_info_list.append(results)

In [14]:
len(playlist_info_list)

1454

In [21]:
plist_fcount_list = []

for item in playlist_info_list:
    item_dict = {}
    item_dict['id'] = item['id']
    item_dict['followers'] = item['followers']['total']
    plist_fcount_list.append(item_dict)
    
plist_fcount_df = pd.DataFrame(plist_fcount_list)

In [33]:
plist_byfcount = plist_fcount_df.sort_values(by=['followers'], ascending=False)

top_100_ids = plist_byfcount.head(100)

display(top_100_ids.head())

     followers                      id
0     23950104  37i9dQZF1DXcBWIGoYBM5M
635   13940244  37i9dQZEVXbMDoHDwVN2tF
1     11885300  37i9dQZF1DX0XUsuxWHRQd
3     10207046  37i9dQZF1DX10zKzsJ2jva
816    8625382  37i9dQZF1DWWMOmoXKqHTD

In [39]:
display(dataframe.head())

   Unnamed: 0                      id              name
0           0  37i9dQZF1DXcBWIGoYBM5M  Today's Top Hits
1           1  37i9dQZF1DX0XUsuxWHRQd         RapCaviar
2           2  37i9dQZF1DX1lVhptIYRda       Hot Country
3           3  37i9dQZF1DX10zKzsJ2jva     ¡Viva Latino!
4           4  37i9dQZF1DX4JAvHpjipBk  New Music Friday

In [38]:
top_100_plists = pd.merge(top_100_ids, dataframe, how='inner', on='id')

display(top_100_plists.head())

   followers                      id  Unnamed: 0                      name
0   23950104  37i9dQZF1DXcBWIGoYBM5M           0          Today's Top Hits
1   13940244  37i9dQZEVXbMDoHDwVN2tF         635             Global Top 50
2   11885300  37i9dQZF1DX0XUsuxWHRQd           1                 RapCaviar
3   10207046  37i9dQZF1DX10zKzsJ2jva           3             ¡Viva Latino!
4    8625382  37i9dQZF1DWWMOmoXKqHTD         816  Songs to Sing in the Car

In [55]:
export_csv = top_100_plists.to_csv(r'top_100_playlists.csv')