In [1]:
import spotipy
import pandas as pd

import re
import requests

In [2]:
target_user = 'spotify:user:uEyhGK-MTGSp5oOfA_J6Jg'
spotify = spotipy.Spotify()

In [3]:
import spotipy.util as util

In [4]:
from config import token
from config import username

In [5]:
# NOTE: THIS CELL TAKES ABOUT 20 SECONDS TO EXECUTE

sp = spotipy.Spotify(auth=token)

top_100 = pd.read_csv('top_100_playlists.csv')

top_100_list = top_100['id'].tolist()

artist_info_list = []

for playlist in top_100_list:
    playlist_id = playlist
    results = sp.user_playlist(username, playlist_id)
    artist_info_list.append(results)

In [6]:
artist_id_count = []
artist_name_count = []
track_count = 0

for playlist in artist_info_list:    
    for track in playlist['tracks']['items']:
        track_count = track_count + 1
        if track['track']:
            for artist in track['track']['artists']:
                artist_id_count.append(artist['id'])
                artist_name_count.append(artist['name'])

In [7]:
artist_info_count = zip(artist_id_count, artist_name_count)

In [8]:
import collections

artist_counter = collections.Counter(artist_info_count)

top_100_artists = artist_counter.most_common(100)

In [9]:
print(top_100_artists[:10])

[(('3TVXtAsR1Inumwj472S9r4', 'Drake'), 136), (('3WrFJ7ztbogyGnTHbHJFl2', 'The Beatles'), 106), (('1Xyo4u8uXC1ZmMpatF05PJ', 'The Weeknd'), 97), (('1uNFoZAHBGtllmzznpCI3s', 'Justin Bieber'), 79), (('4gzpq5DPGxSnKTe4SA8HAU', 'Coldplay'), 71), (('6eUKZXaKkcviH0Ku9w2n3V', 'Ed Sheeran'), 62), (('0du5cEVh5yTK9QJze8zA0C', 'Bruno Mars'), 59), (('5pKCCKE2ajJHZ9KAiaK11H', 'Rihanna'), 57), (('4AK6F7OLvEQ5QYCBNiQWHq', 'One Direction'), 51), (('6LuN9FCkKOj5PcnpouEgny', 'Khalid'), 41)]

In [10]:
top_100_artists_df = pd.DataFrame\
(top_100_artists, columns =['id_artist', 'frequency'])

display(top_100_artists_df.head())

                                 id_artist  frequency
0          (3TVXtAsR1Inumwj472S9r4, Drake)        136
1    (3WrFJ7ztbogyGnTHbHJFl2, The Beatles)        106
2     (1Xyo4u8uXC1ZmMpatF05PJ, The Weeknd)         97
3  (1uNFoZAHBGtllmzznpCI3s, Justin Bieber)         79
4       (4gzpq5DPGxSnKTe4SA8HAU, Coldplay)         71

In [11]:
top_100_artists_df[['id', 'artist']] = \
pd.DataFrame(top_100_artists_df['id_artist'].tolist(), \
index = top_100_artists_df.index)

del top_100_artists_df['id_artist']

display(top_100_artists_df.head())

   frequency                      id         artist
0        136  3TVXtAsR1Inumwj472S9r4          Drake
1        106  3WrFJ7ztbogyGnTHbHJFl2    The Beatles
2         97  1Xyo4u8uXC1ZmMpatF05PJ     The Weeknd
3         79  1uNFoZAHBGtllmzznpCI3s  Justin Bieber
4         71  4gzpq5DPGxSnKTe4SA8HAU       Coldplay

In [12]:
export_csv = top_100_artists_df.to_csv(r'top_100_artists.csv')