In [1]:
import spotipy
import pandas as pd

import re
import requests

In [2]:
target_user = 'spotify:user:uEyhGK-MTGSp5oOfA_J6Jg'
spotify = spotipy.Spotify()

In [3]:
import spotipy.util as util

In [4]:
from config import token
from config import username

In [5]:
# NOTE: THIS CELL TAKES A FEW MINUTES TO EXECUTE

sp = spotipy.Spotify(auth=token)

dataframe = pd.read_csv('all_playlists.csv')

playlists = dataframe['id'].tolist()

playlist_info_list = []

for playlist in playlists:
    playlist_id = playlist
    results = sp.user_playlist(username, playlist_id)
    playlist_info_list.append(results)

In [6]:
len(playlist_info_list)

1395

In [7]:
plist_fcount_list = []

for item in playlist_info_list:
    item_dict = {}
    item_dict['id'] = item['id']
    item_dict['followers'] = item['followers']['total']
    plist_fcount_list.append(item_dict)
    
plist_fcount_df = pd.DataFrame(plist_fcount_list)

In [8]:
plist_byfcount = plist_fcount_df.sort_values(by=['followers'], ascending=False)

top_100_ids = plist_byfcount.head(100)

display(top_100_ids.head())

                         id  followers
0    37i9dQZF1DXcBWIGoYBM5M   29437394
626  37i9dQZEVXbMDoHDwVN2tF   16277738
1    37i9dQZF1DX0XUsuxWHRQd   14043789
3    37i9dQZF1DX10zKzsJ2jva   11233879
799  37i9dQZF1DWWMOmoXKqHTD    9896699

In [9]:
display(dataframe.head())

   Unnamed: 0                      id              name
0           0  37i9dQZF1DXcBWIGoYBM5M  Today's Top Hits
1           1  37i9dQZF1DX0XUsuxWHRQd         RapCaviar
2           2  37i9dQZF1DX1lVhptIYRda       Hot Country
3           3  37i9dQZF1DX10zKzsJ2jva     ¡Viva Latino!
4           4  37i9dQZF1DX4JAvHpjipBk  New Music Friday

In [10]:
top_100_plists = pd.merge(top_100_ids, dataframe, how='inner', on='id')

display(top_100_plists.head())

                       id  followers  Unnamed: 0                      name
0  37i9dQZF1DXcBWIGoYBM5M   29437394           0          Today's Top Hits
1  37i9dQZEVXbMDoHDwVN2tF   16277738         626           Top 50 - Global
2  37i9dQZF1DX0XUsuxWHRQd   14043789           1                 RapCaviar
3  37i9dQZF1DX10zKzsJ2jva   11233879           3             ¡Viva Latino!
4  37i9dQZF1DWWMOmoXKqHTD    9896699         799  Songs to Sing in the Car

In [11]:
export_csv = top_100_plists.to_csv(r'top_100_playlists.csv')